body {
  margin: 0;
  padding: 0;
  background-image: url("/assets/fondos/fondo_elegir.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
  align-content: center;
}
body .caja {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  left: 32%;
  bottom: 15%;
}
body .caja .cubos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .caja .cubos .caja_cubos {
  padding: 10%;
}
body .caja .cubos .caja_cubos:hover {
  transform: scale(1.05);
}
body .caja .cubos .caja_cubos:hover .nombres_cubos {
  visibility: visible;
}
body .caja .cubos .caja_cubos .nombres_cubos {
  visibility: hidden;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}